*{box-sizing: border-box; padding: 0; margin: 0;}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    height: 100vh;
}
body{
    background: url(./img/bg.jpg) no-repeat center/cover;

}
h1{
    font-size: 40px;
    font-weight:900;
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#input, .button{
border: none;
outline: none;
padding: 5px 10px;
border-radius: 5px;
font-weight: 500;
}
.msgError{
    color: crimson;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 600px;
    max-width: 550px;
    border-radius: 10px;
}
.shadow-pokeball{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    top: 20px;

}
.pokemonCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
    width: 340px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.container__start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
.pokemonName{
    font-size: 20px;
    font-weight: 900;
    padding: 8px 0px;
}
.pokemonName::first-letter, .pokemonType::first-letter{
    text-transform: uppercase;
}

.pokemonId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.711);
    max-height: 310px;
    width: 326px;
    border-radius: 8px;
    gap: 15px;
    padding-top: 10px;
}
.container__end_first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 330px;
}
.pokemonType, p{
    font-weight: 500;
    font-size: 18px;
}
.pokemonType{
    font-size: 18px;
    font-weight: 800;
}

.fa-solid{
    font-size: 18px;
}
.container__end_second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}
.description_tittle::first-letter{
    text-transform: uppercase;
}
.container__end_third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    gap: 5px;
}
.tittle{
    font-weight: 900;
    font-size: 20px;
}
.stats{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.container__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 50px;
}
.pokemon-img{
    display: block;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 200px;
}
.imgmove{
    height: 100px;
    margin-top: 50px;
}
.animate__animated.animate__wobble{
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
small{
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
@media(max-width: 576px){
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    #container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 560px;
        max-width: 550px;
        border-radius: 10px;
    }
    .pokemonCard{
        height: 560px;
        width: 340px;
    }
    .container__end{
        height: 330px;
        width: 326px;
        padding: 20px 0px;
        border: 1px solid rgba(0, 0, 0, 0.709);
    }
    .container__end_third{
        height: 280px;
        overflow: hidden;
    }
}
